<div class="padre">
    <div class="titulo">Chats</div>
    <div class = "conversacionAll">
        <div class = "chat1">
            <img src="./src/assets/imagenes/vestido-fiesta-corto-verde-agua-drapeado-manga-2022-539x813 1.png" class="card-img-top" style="width: 100%; max-height: 350px;" alt="...">
            <p>Alberto</p>
            <p>Traje Boda</p>
            <p>19:00</p>   
        </div>
        <div class = "chat1">
            <img src="./src/assets/imagenes/vestido-fiesta-corto-verde-agua-drapeado-manga-2022-539x813 1.png" class="card-img-top" style="width: 100%; max-height: 350px;" alt="...">
            <p>Marta</p>
            <p>Traje Boda</p>
            <p>19:00</p>
        </div>
        <div class = "chat1">
            <img src="./src/assets/imagenes/vestido-fiesta-corto-verde-agua-drapeado-manga-2022-539x813 1.png" class="card-img-top" style="width: 100%; max-height: 350px;" alt="...">
            <p>Irene</p>
            <p>Traje Boda</p>
            <p>19:00</p>
        </div>
        <div class = "chat1">
            <img src="./src/assets/imagenes/vestido-fiesta-corto-verde-agua-drapeado-manga-2022-539x813 1.png" class="card-img-top" style="width: 100%; max-height: 350px;" alt="...">
            <p>Lorena</p>
            <p>Traje Boda</p>
            <p>19:00</p>
        </div>
    </div>
</div>
