body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 844px;
    position: relative; 
    /* border: 0.5px red solid; */
}


.Chats{
    
    height: 44px;
    width: 100%;
    margin-top: 44px;
    background-color: var(--pink);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


h1.chatsText{
    /* width: 86px;
    height: 27px; */
    flex-shrink: 0;
    /* TIPOGRAFÍA */
    /* margin-left: 130px ; */
    margin-top:10px;
    color: #000;
    text-align: center; 
    font-feature-settings: 'clig' off, 'liga' off;
    font-family:"Pavanam", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    letter-spacing: 1.2px;
}

/* Samsung Galaxy S20 Ultra */
@media screen and (max-width: 412px )
{
    body{
    height: 800px;
  }

 } 

 /* Ipad mini */
 @media screen and (min-width: 768px )
 {
    body{
        height: 800px;
      }
       
}
/* ipad air */
@media screen and (min-width: 820px )
{
    body{
        height: 800px;
      }

}

