<body>
    <div class="contenido_Chat">
        <div class="Chats">
            <h1 class="chatsText">Chats</h1>
        </div>
        <div *ngIf = "chats.length >=1; else noChat" class="condicional_ngIf">
           
            <ng-container *ngFor="let chat of chats">
                <br>
                <!--AVERIGUAR CUAL DE LOS DOS HACE FALTA-->
                <!-- <app-tarjeta-chat [chat]="chat" [chats]="chats"></app-tarjeta-chat> -->
                <app-tarjeta-chat [chat]="chat"></app-tarjeta-chat>

            </ng-container>
        </div>
                
        <!--En caso que el array chats este vacío se deberá mostrar un mensaje indicándolo (haciendo
        uso del *ngIf)-->
        <ng-template #noChat >No hay chats en este momento</ng-template>
 
    </div>
</body>