<nav class="navbar bg-body-bg fixed-top">
  <div class="luis">
    <a class="navbar-brand" href="#">GalaGo!</a>
    <button  style="border: none;" (click)="mostrarOcultarMenu()"  class="navbar-toggler" type="button">
           <span class="navbar-toggler-icon custom-toggler-icon"></span>
    </button>
    
    <!--Cuando el usuario no esta registrado muestra solo 3 pág-->
    <nav class="submenu" *ngIf="verSubMenu && isLoggedIn === false">
        <ul>
          <li class="nav-item"><a routerLink="/registro" >Regístrate</a></li>
          <li class="nav-item"><a routerLink="/login" >Inicia sesión</a></li>
          <li class="nav-item1"><a routerLink="/quienes-somos" >¿Quienes Somos?</a></li>  
        </ul>
    </nav>
    <!--Cuando el usuario si esta registrado muestra  7 pág-->
    <nav class="submenu" *ngIf="verSubMenu && isLoggedIn === true">
      <ul>
        <li class="nav-item"><a routerLink="/publicar-prenda" (click)="mostrarOcultarMenu()">Publicar</a></li>
        <li class="nav-item"><a routerLink="/home" (click)="mostrarOcultarMenu()" >Home</a></li>
        <li class="nav-item"><a routerLink="/chat" (click)="mostrarOcultarMenu()">Chats</a></li>
        <li class="nav-item"><a routerLink="/perfil" (click)="mostrarOcultarMenu()">Perfil</a></li>
        <li class="nav-item" ><a href="#"  (click)="mostrarOcultarMenu()">Cerrar sesión</a></li>
        <li class="nav-item1"><a routerLink="/quienes-somos" (click)="mostrarOcultarMenu()">¿Quienes Somos?</a></li> 
        <li class="nav-item1"><a routerLink="/contacta" (click)="mostrarOcultarMenu()">¿Necesitas ayuda?</a></li>
      </ul>
  </nav>
  </div>
</nav>