<nav class="navbar bg-body-bg fixed-top">
  <div class="luis">
    <a class="navbar-brand" href="#">GalaGo!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <span class="navbar-toggler-icon custom-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <!-- <div class="offcanvas-body" *ngIf="!this.userService.logueado; else logueado"> -->
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item1">
              <a routerLink="/registro" class="nav-link active" aria-current="page" href="#">Regístrate</a>
            </li>
            <svg xmlns="http://www.w3.org/2000/svg" width="135" height="2" viewBox="0 0 135 2" fill="none">
            <path d="M0 0.628296H135" stroke="#FFC9CE" />
            </svg>
            <li class="nav-item1">
              <a routerLink="/login" class="nav-link active" href="#">Inicia sesión</a>
            </li>
            <svg xmlns="http://www.w3.org/2000/svg" width="135" height="2" viewBox="0 0 135 2" fill="none">
            <path d="M0 0.628296H135" stroke="#FFC9CE" />
            </svg>
            <li class="nav-item">
              <a routerLink="/quienes-somos" class="nav-link" href="#">¿Quiénes Somos?</a>
            </li>



            <li class="nav-item1">
              <a routerLink="/publicar-prenda" class="nav-link active" aria-current="page" href="#">Publicar</a>
            </li>
            <svg xmlns="http://www.w3.org/2000/svg" width="135" height="2" viewBox="0 0 135 2" fill="none">
            <path d="M0 0.628296H135" stroke="#FFC9CE" />
            </svg>
            <li class="nav-item1">
              <a routerLink="/chat" class="nav-link active" href="#">Chats</a>
            </li>
            <svg xmlns="http://www.w3.org/2000/svg" width="135" height="2" viewBox="0 0 135 2" fill="none">
            <path d="M0 0.628296H135" stroke="#FFC9CE" />
            </svg>
            <li class="nav-item1">
              <a routerLink="/perfil" class="nav-link active" href="#">Favoritos</a>
            </li>
            <svg xmlns="http://www.w3.org/2000/svg" width="135" height="2" viewBox="0 0 135 2" fill="none">
            <path d="M0 0.628296H135" stroke="#FFC9CE" />
            </svg>
            <li class="nav-item1">
              <a routerLink="/perfil" class="nav-link active" href="#">Perfil</a>
            </li>
          <svg xmlns="http://www.w3.org/2000/svg" width="135" height="2" viewBox="0 0 135 2" fill="none">
            <path d="M0 0.628296H135" stroke="#FFC9CE" />
          </svg>
          <li class="nav-item1">
            <a class="nav-link active" href="#">Cerrar Sesión</a>
          </li>

          </ul>
        </div>
        <!-- <ng-template #logueado>
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3"> -->
            <!-- <li class="nav-item1">
              <a routerLink="/publicar-prenda" class="nav-link active" aria-current="page" href="#">Publicar</a>
            </li>
            <svg xmlns="http://www.w3.org/2000/svg" width="135" height="2" viewBox="0 0 135 2" fill="none">
            <path d="M0 0.628296H135" stroke="#FFC9CE" />
            </svg>
            <li class="nav-item1">
              <a routerLink="/chat" class="nav-link active" href="#">Chats</a>
            </li>
            <svg xmlns="http://www.w3.org/2000/svg" width="135" height="2" viewBox="0 0 135 2" fill="none">
            <path d="M0 0.628296H135" stroke="#FFC9CE" />
            </svg>
            <li class="nav-item1">
              <a routerLink="/perfil" class="nav-link active" href="#">Favoritos</a>
            </li>
            <svg xmlns="http://www.w3.org/2000/svg" width="135" height="2" viewBox="0 0 135 2" fill="none">
            <path d="M0 0.628296H135" stroke="#FFC9CE" />
            </svg>
            <li class="nav-item1">
              <a routerLink="/perfil" class="nav-link active" href="#">Perfil</a>
            </li>
          <svg xmlns="http://www.w3.org/2000/svg" width="135" height="2" viewBox="0 0 135 2" fill="none">
            <path d="M0 0.628296H135" stroke="#FFC9CE" />
          </svg>
          <li class="nav-item1">
            <a class="nav-link active" href="#">Cerrar Sesión</a>
          </li>
          <svg xmlns="http://www.w3.org/2000/svg" width="135" height="2" viewBox="0 0 135 2" fill="none">
            <path d="M0 0.628296H135" stroke="#FFC9CE" />
          </svg>
          <li class="nav-item">
            <a routerLink="/quienes-somos" class="nav-link" href="#">¿Quiénes Somos?</a>
          </li>
        </ul>
      </ng-template> -->
    </div>
  </div>
</nav>