
.navbar-brand {
  position: relative;
  height: 44px;
  font-size: 24px;
  font-family: var(--titulo);
  color:var(--color1);

  background: var(--AZUL-DEG, linear-gradient(180deg, rgba(7, 84, 124, 0.59) 0%, #093A54 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;


font-feature-settings: 'clig' off, 'liga' off;
font-family: Pattaya;
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 29.9px */
letter-spacing: 1.15px;
margin-top: -5px;
}
a{
  text-decoration: none;
}
.nav-item1 a{
  color:#104967;
}

.nav-item a{
  color:black;
  font-size: 100%;
}

.navbar {
  height: 44px;
  /* width: 360px; */
  position:absolute;
}
hr{
  fill: #FFF;
stroke-width: 1px;
stroke: #FFC9CE;

width: 135px;
height: 0px;
flex-shrink: 0;

}
/* Anula los estilos del icono del menú hamburguesa */
.navbar-toggler-icon {
  border: none !important;
  box-shadow: none !important;
 
  /* Otros estilos si es necesario */
}
.navbar-toggler{
  height: 32px;
  margin-top: -12px;
}
.luis{
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/*nuevos cambios en el header*/
.submenu{
  position: absolute;
  top: 40px;
  right: 0;
  overflow: hidden;
  z-index: 99999;
  background-color: white;
  width:50%;

}


.submenu ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.submenu li{
  padding: 10px 20px;
  border-bottom: 1px solid #FFC9CE;
  /* border-bottom: 1px solid #104967; */
  margin-left: 20px;
  margin-right: 20px;
}


.navbar-toggler{
  border: none!important;
}
.offcanvas-backdrop {
  background-color: transparent !important;
}
/* PARA SAMSUNG GALAXY S20 ULTRA */
@media screen and (min-width: 412px) {
  .navbar{
    height: 50px;
  }
  .luis{
    height: 50px;
  
  }
  .navbar-brand{
    font-size: 28px;
    margin-top: -12px;
  }
  .submenu{
    top:50px;
  }
}
/* PARA IPAD MINI */
@media screen and (min-width: 768px) {
  .navbar{
    height: 90px;
    padding: 10px;
  }
   .navbar-brand{
    margin-top: 10px;
    font-size: 40px;
    height: 90px;
    width: 162px;
  }
  .navbar-toggler{
    height: 55px;
    width: 55px;
    margin-top: -25px;
  }
  .navbar-toggler-icon{
    height: 40px;
    width: 30px;
  }
  .luis{
    height: 90px;
  }

  .submenu{
    top:80px;
  }
}

/*PARA IPAD AIR*/
@media screen and (min-width: 820px) {
  .navbar{
    height: 90px;
    padding: 10px;
  }
   .navbar-brand{
    margin-top: 0px;
    font-size: 45px;
    height: 90px;
    width: 162px;
  }
  .navbar-toggler{
    height: 55px;
    width: 60px;
    margin-top: -25px;
  }
  .navbar-toggler-icon{
    height: 40px;
    width: 33px;
  }
  .luis{
    height: 90px;
  }
  .submenu{
    
    top: 80px;
   
  
  }
}








