.foo{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    width: 100%;
    background-color: #cfe2eb;
    padding: 20px;
    position: fixed;
    bottom: 0;
}
.info{
    display: flex;
    gap: 70px;
}
.info a{
    text-decoration: none;
    color: var(--dark_blue);
}

