.foo{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 100%;
    background-color: #cfe2eb;
    padding: 20px;
    position: fixed;
    bottom: 0;
}
.info{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 70px;
    margin-left: 0px;

}
.info a{
    width: 50%;
    text-decoration: none;
    color: var(--dark_blue);
}
.info p{
    width: 50%;
    color: var(--dark_blue);
    align-items: center;
    margin-top: 0px;
}



@media screen and (min-width: 412px)
{
.info{
    gap: 80px;
    margin-right: -47px;
}
.info p{
    font-size: 15px;
    margin-top: 16px;
}  
.info a{
    font-size: 15px;
} 
}
@media screen and (min-width: 768px)
{
    .foo{
        height: 80px;
    }    
    .info{
        width: 100%;
        gap: 210px;
        margin-right: -97px;
    }
    .info a{
        font-size: 26px;
    }
    .info p{
        font-size: 26px;
        margin-top: 20px;
    }    
}

@media screen and (min-width: 820px)
{
.foo{
    height: 80px;
}    
.info{
    width: 100%;
    gap: 220px;
    margin-right: -100px;
}
.info a{
    font-size: 27px;
}
.info p{
    font-size: 27px;
    margin-top: 20px;
}
}