.fondo{
    background-image: url('../../../assets/quienesSomos/fondo2.png');
    height: 94.89vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -10px;
}
.logo{
    /* padding-top: 30px; */
    color: var(--AZUL-LISO, #104967);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--titulo);
    font-size: 40px;
    /* font-style: normal; */
    /* font-weight: 400; */
    /* line-height: 130%; */
    margin-left: 20px;
    margin-bottom: 10px;
}
.gala{
    font-family: Pattaya;
}

.boton{
    width: 20px;
    position: relative;
    left: -177px;
    margin-bottom: -50px;
}

.padre{
    
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    position: relative;
}
.padreFoto{
    height: 70px;
    width: 50px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.padreFoto img{
    height: 40px;
    width: 40px;
}
.padreTexto{
    width: 200px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5px;
    /* gap: 26px; */
}

.quienesSomos{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    text-align: center;
    width: 94%;
    height:83vh;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    background: rgba(255, 229, 233, 0.89);
    position: relative;
    /* transform: translateY(390px); */
    z-index: 2;
    overflow-y: auto;
}
.textoPadding{
    /* border: 2px solid red; */
    width: 100%;
    padding-left: 20px;
    padding-right:20px;
}
.p{
    /* padding-left: 15px; */
    font-size: 1.2em;}
.h1{
    font-size: 1.5em;
}


.padreSeparacion{
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-right: 10px;
    padding-left: 10px;
   
}
.padreTarjeta{
    width: 95%;
    border: 4px solid var(--pink);
    backdrop-filter: blur(2rem);
    /* border-bottom: 2px solid grey; */
    /* border-top: 2px solid grey; */
    padding-top: 10px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    /* background-color: #fafafa4c; */
}





.fotos{
    width: 70px;
    height: 70px;
    border-radius: 100px;
}





















   /* samsung s22 */
    /* se adapta bien, no hago cambios */


  /* Ipad mini */
  /* @media screen and (min-width: 768px ){ */
    /* .boton{
        width: 30px;
        left: -350px;
    }
    .logo{
        padding-top: 20px;
        font-size: 90px;
        margin-bottom: 25px;
    }
    
    .intro{
        font-size: 30px;
    }
    p{
        font-size: 19px;
    }
    
    .gala{
        font-size: 21px;
    }
   } */

   /* NOSOTROS */
    /* .row1, .row2{
        gap: 15px;
    }
    .desc-padre{
        gap: 15px;
    } */
    /* TARJETA */
    /* .card {
        width: 222px;
        height: 182px;;
    }
    .horizontal{
        width: 222px;
        height: 182px;
    }    */
   /*Image*/
   /* .card-avatar {
    margin-bottom: 0.5rem;
   }
   .card-avatar img{
    width: 110px;
    height: 110px;
    } */
   
   /*Card footer*/
   /* .card-social{
    gap: 19px;
    width: 100%;
   }
   .card-social__item svg {
    height: 22px;
    width: 22px;
   } */
   
   /*Text*/
   /* .card-title {
    font-size: 22px;
    margin-bottom: -2px;
    margin-top: -2px;
   }
   
   .card-subtitle {
    font-size: 12px;
   } */
   
   /*Hover*/
   /* .izq:hover{
    transform:  scale(1.6) translateX(15%);
   }
   .izqV:hover{
    transform:  scale(1.6) translateX(20%);
   }
   .der:hover{
    transform:  scale(1.6) translateX(-15%);
   }
   .derV:hover{
    transform:  scale(1.6) translateX(-20%);
   }
   .centro:hover{
    transform:  scale(1.6);
   } */

   /* ipad air */
   /* @media screen and (min-width: 820px ){
    
    .intro{
        font-size: 36px;
        margin-top: -10px;
    }
    p{
        font-size: 22px;
    }
    
    .gala{
        font-size: 24px;
    }
   } */

   /* NOSOTROS */
    /* .row1, .row2{
        gap: 18px;
    }
    .desc-padre{
        gap: 18px;
    } */
    /* TARJETA */
    /* .card {
        width: 242px;
        height: 202px;
    } */
    
   /*Image*/
   /* .card-avatar {
    margin-bottom: 0.5rem;
   }
   .card-avatar img{
    width: 120px;
    height: 120px;
    } */
   
   /*Card footer*/
   /* .card-social{
    gap: 19px;
    width: 100%;
   }
   .card-social__item svg {
    height: 22px;
    width: 22px;
   } */
   
   /*Text*/
   /* .card-title {
    font-size: 25px;
   }
   
   .card-subtitle {
    font-size: 13px;
   }
    */
   /*Hover*/
   /* .izq:hover{
    transform:  scale(1.8) translateX(15%);
   }
   .izqV:hover{
    transform:  scale(1.8) translateX(20%);
   }
   .der:hover{
    transform:  scale(1.8) translateX(-15%);
   }
   .derV:hover{
    transform:  scale(1.8) translateX(-20%);
   }
   .centro:hover{
    transform:  scale(1.8);
   } */
   