
.home{
    height: 44px;
    width: 100%;
    margin-top: 44px;
    background-color: var(--pink);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.homeText{
    /* TIPOGRAFÍA */
    color: #000;
    font-size: 20px;
    letter-spacing: 1.2px;
    margin-top: 10px;
}

/****** ICONOS *****/

.filtros{
    width: 100%;
    height: 230px;
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

}

element.style{
  fill: black;

}

/* estilo texto de los iconos */
.iconosText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* tipography */
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Pavanam;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 13px */
    letter-spacing: 0.6px;
}

.row1, .row2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
/**** Iconos primera columna ****/


/**** Resto de iconos ****/
.icono svg{
  height: 60px;
  width: 60px;
  color: var(--ligth_blue);
}
.icono img{
    width: 38px;
    height: 38px;
    position: absolute; 
    /* ajusta imagen al centro*/
    transform: translate(-128%, 28%); 
}

.euro{
    width: 8px;
    height: 28px;
}
/****** CARDS *****/


.form-select{
    background-color:var(--pink);
    border-radius: none;
    border-style: none;
}
/* hace que se mueste la selección de filtros */
.display{
    display: block;
}

  /* PERTENECE A EL RANGO DE PRECIO  */

  .slide-rango{
    -webkit-appearance: none;
    width: 85%;
    height: 10px;
    border-radius: 5px;
    background: var(--ligth_blue);
    outline: none;
    margin-right: 44px;
    /* opacity: 0.7; */
    /* -webkit-transition: .2s; */
    /* transition: opacity .2s; */
    /* position: relative; */
  }
  
  .slide-rango::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color:var(--dark_blue);
    /* cursor: pointer; */
    /* transition: 0.3s ease-in-out; */
    /* position: relative; */
    z-index: 2;
  }
  
  .slide-rango::-webkit-slider-thumb:hover {
    box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.16);
    transition: 0.3s ease-in-out;
  }
  
  .slide-rango::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000000;
    cursor: pointer;
  }
  
  .slide-padre{
    display: flex;
    align-items: center;
    justify-content: center; 
    /*lo he cambiado, antes: center*/
    gap: 1rem;
    padding: 1rem;
    /* border: 1px solid #e0e5e9; */
    border-radius: 5px;
    background: var(--pink);
    position: relative;
    width: 100%;
    height: 40vh;

  }
  
  /* .slider-value {
    font-weight: 600; 
    position: absolute;
    width: 13%;
    text-align: center;
    background: var(--dark_blue);
    color: white;
    top: -20px;
    transform: translateX(-50%);
    z-index: 2;

  } */
  .slider-value{
    position: absolute;
    width: 50px;
    height: 50px;
    color: white;
    /* background: var(--dark_blue); */
    font-weight: 500;
    top: -40px;
    transform: translateX(-50%);
    line-height: 55px;
    z-index: 2;
    text-align: center;
    pointer-events: none;

  }

  .slider-value::after{
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background: var(--dark_blue);
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border: 2px solid white;
    z-index: -1;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  .slide-padre, .field{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
.value{
    position: absolute;
    z-index: 100;
    color: var(--dark_blue)
}

.value.right{
    left:-40px;
    font-size: 20px;

}

.cardsContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 390px;
  flex-wrap: wrap;
  padding: 7px;
  gap: 0;
  /* margin-left: 10px;
  margin-right: 10px; */
}


@media screen and (min-width: 412px) {
  .cardsContainer{
      width: 412px;
      gap: 10px;
      padding: 16px;
      margin-bottom: 0;
  }

}

@media screen and (min-width: 768px) {
  .filtros{
    width: 100%;
    height: 420px;
    margin-top: 20px;
    gap: 40px;
}
  .cardsContainer{
      width: 768px;
      gap: 50px;
      padding: 50px;
  }

  .home{
    height: 80px;
    margin-top: 80px;
}

.homeText{
    font-size: 50px;
    margin-top: 20px;
}
.iconosText{
  font-size: 25px;
}
.icono img{
  width: 70px;
  height: 70px;
}
.euro{
  width: 15px;
  height: 45px;
}
.icono svg{
  height: 110px;
  width: 110px;

}
.row1{
  width: 768px;
  gap: 90px;
}
.row2{
  width: 768px;
  gap: 90px;
}

.form-select{
  height: 60px;
  font-size: 25px;
}
.slide-rango{
  height: 20px;
  border-radius: 20px;
}
.value{
  font-size: 25px;
}
.slide-rango::-webkit-slider-thumb {
  height: 30px;
  width: 30px;
}


}


@media screen and (min-width: 820px) {
  .filtros{
    width: 100%;
    height: 420px;
    margin-top: 20px;
    gap: 40px;
   
}
  .cardsContainer{
      width: 820px;
      gap: 50px;
      padding: 50px;
  }
  .home{
    height: 80px;
    margin-top: 80px;
}

.homeText{
    font-size: 50px;
    margin-top: 20px;
}
.iconosText{
  font-size: 25px;
}
.icono img{
  width: 74px;
  height: 74px;
}
.euro{
  width: 16px;
  height: 50px;
}
.icono svg{
  height: 120px;
  width: 120px;

}
.row1{
  width: 820px;
  gap: 100px;
}
.row2{
  width: 820px;
  gap: 100px;
}

.form-select{
  height: 80px;
  font-size: 25px;
}
.slide-rango{
  height: 20px;
  border-radius: 20px;
}
.value{
  font-size: 25px;
}
.slide-rango::-webkit-slider-thumb {
  height: 30px;
  width: 30px;
}


}




