<app-modal-editar [imageUrl]="selectedImageUrl" *ngIf="modalOpen" (closeModalEvent)="closeModal()" (updateImageEvent)="newPhoto($event)" ></app-modal-editar>


<div class="barra">
  <h1>Editar</h1>
</div>

<form class="formulario">


  <div class="imagesUpload">


    
    
    <div>
      <button class="boton-foto" (click)="openModal(1)"> <img class="fotos" #photo1 src="{{prendaService.prenda?.photo1}}" alt=""> </button>
    </div>
    
    <div>
      <button class="boton-foto" (click)="openModal(2)"> <img class="fotos" #photo2 src="{{prendaService.prenda?.photo2}}" alt=""> </button>
    </div>

    <div>
      <button class="boton-foto" (click)="openModal(3)"> <img class="fotos" #photo3 src="{{prendaService.prenda?.photo3}}" alt=""> </button>
    </div>

    <div>
      <button class="boton-foto" (click)="openModal(4)"> <img class="fotos" #photo4 src="{{prendaService.prenda?.photo4}}" alt=""> </button>
    </div>


  </div>

  <div class="form-group">
    <input type="text" #title class="form-control" name="titulo" [value]="prendaService.prenda?.title">
  </div>

  <div class="form-group">
    <input type="number" #price class="form-control" name="precio" [value]="prenda?.price">
  </div>

  <div class="form-group">
    <input type="text" #description class="form-control" name="descripcion" [value]="prendaService.prenda?.description">
  </div>

  <div class="form-group">
    <select class="form-select" #type name="tipo" [value]="prendaService.prenda?.tipo">
      <option selected disabled></option>
      <option *ngFor="let tipo of arrTipo" [value]="tipo">{{tipo}}</option>
    </select>
  </div>

  <div class="form-group">
    <select class="form-select" #size name="talla" [value]="prendaService.prenda?.size">
      <option selected disabled></option>
      <option *ngFor="let talla of arrTalla" [value]="talla">{{talla}}</option>
    </select>
  </div>

  <div class="form-group">
    <select class="form-select" #event name="evento" [value]="prendaService.prenda?.evento">
      <option selected disabled></option>
      <option *ngFor="let evento of arrEvento" [value]="evento">{{evento}}</option>
    </select>
  </div>

  <div class="form-group">
    <select class="form-select" #state name="estado" [value]="prendaService.prenda?.state">
      <option selected disabled></option>
      <option *ngFor="let estado of arrEstado" [value]="estado">{{estado}}</option>
    </select>
  </div>


  <div class="form-group">
    <button type="button" class="btn" 
      (click)="editar(title.value,price.value,description.value,type.value,size.value,event.value,state.value)">Guardar</button>
  </div>
  <button type="button" class="btn1" (click)="irPerfil()">Cancelar</button>
</form>

<!-- TOAST -->
<ng-container *ngIf="activeToast">
  <app-toast [titleToast]="titleToast" [message]="message" (eventToast)="changeStateToast($event)"></app-toast>
</ng-container>