<div class="ed-perfil">
    <h1 class="ed-perfil-text">Editar perfil</h1>
</div>

<div class="padre">
    <div>
        <img class="imgPerfil" src="{{userService.user.photo}}" alt="">
    </div>
    
    <form action="" class="form" [formGroup]="myForm">
        <input type="text"  #photo placeholder="Pege aquí el enlace de la imagen que desee...">
        <input type="text"  #name placeholder="{{userService.user.firstname}}" maxlength="12">
        <input type="text"  #last_name placeholder="{{userService.user.surname}}">
        <input type="text"  #ubicacion placeholder="{{userService.user.location}}">
        <input type="email" #email placeholder="{{userService.user.email}}">
        <!-- Contraseña -->

        <div class="form-group">
            <div class="texto"></div>
            <input #password placeholder="Contraseña" type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': (myForm.get('password').dirty || myForm.get('password').touched) && !myForm.get('password').valid}">
            <div *ngIf="!myForm.get('password').valid" class="invalid-feedback">
                <div  *ngIf="myForm.get('password').errors.required">
                    La contraseña es obligatoria
                </div>
                <div  *ngIf="myForm.get('password').errors.minlength">
                    La contraseña requiere mas de 8 caracteres
                </div>
            </div>
        </div>
        
        
        <!-- Repetir Contraseña -->
  
        <div class="form-group">
          <div class="texto"></div>
            <input #password2 placeholder="Repertir Contraseña" type="password" class="form-control" formControlName="password2" [ngClass]="{ 'is-invalid': (myForm.get('password2').dirty || myForm.get('password2').touched) && !myForm.get('password2').valid}">
            <div *ngIf="!myForm.get('password2').valid" class="invalid-feedback">
                <div  *ngIf="myForm.get('password2').errors.required">
                    La contraseña es obligatoria
                </div>
                <div  *ngIf="!myForm.get('password2').errors.required && myForm.get('password2').errors.matchPassword">
                    La contraseña no coincide
                </div>
            </div>
        </div>
  
          
    </form>
    <button type="submit" class="btn" (click)="modificarUser(photo.value,name.value,last_name.value,ubicacion.value,email.value,password.value)">Guardar</button>
    <a class="cancelar" (click)="cancelar()">Cancelar</a>
</div>