<div class="ed-perfil">
    <h1 class="ed-perfil-text">Editar perfil</h1>
</div>

<div class="padre">
    <div>
        <img class="imgPerfil" src="{{userService.user.photo}}" alt="">
    </div>
    
    <form action="" class="form" [formGroup]="myForm">
        <input type="text"  #photo placeholder="Pegue aquí el enlace de la imagen que desee...">
        <input type="text"  #name placeholder="{{userService.user.firstname}}" maxlength="20">
        <input type="text"  #last_name placeholder="{{userService.user.surname}}" maxlength="20">
        <input type="text"  #ubicacion placeholder="{{userService.user.location}}">
        <!-- <input type="email" #email placeholder="{{userService.user.email}}"> -->

        <div class="form-group">
            <div class="texto"></div>
            <input #email placeholder="{{userService.user.email}}" type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': (myForm.get('email').dirty || myForm.get('email').touched) && !myForm.get('email').valid && myForm.get('email').value !== ''}">
            <div *ngIf="!myForm.get('email').valid" class="invalid-feedback">
                <div *ngIf="myForm.get('email').errors.email">
                    La dirección de correo electrónico es incorrecta
                </div>
            </div>
        </div>

        <!-- Contraseña -->

        <div class="form-group">
            <div class="texto"></div>
            <input #password placeholder="Contraseña" type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': (myForm.get('password').dirty || myForm.get('password').touched) && !myForm.get('password').valid && myForm.get('password').value !== ''}">
            <div *ngIf="!myForm.get('password').valid" class="invalid-feedback">
                <div *ngIf="myForm.get('password').errors.minlength">
                    La contraseña debe tener al menos 8 caracteres
                </div>
            </div>
        </div>
        
        
        <!-- Repetir Contraseña -->
  
        <div class="form-group">
            <div class="texto"></div>
            <input #password2 placeholder="Repetir Contraseña" type="password" class="form-control" formControlName="password2" [ngClass]="{ 'is-invalid': (myForm.get('password2').dirty || myForm.get('password2').touched) && !myForm.get('password2').valid && myForm.get('password2').value !== ''}">
            <div *ngIf="!myForm.get('password2').valid" class="invalid-feedback">
                <div *ngIf="!myForm.get('password2').errors.required && myForm.get('password2').errors.matchPassword">
                    La contraseña no coincide
                </div>
            </div>
        </div>
  
          
    </form>
    <button type="submit" class="btn" (click)="modificarUser(photo.value,name.value,last_name.value,ubicacion.value,email.value,password.value)">Guardar</button>
    <a class="cancelar" (click)="cancelar()">Cancelar</a>
</div>