<div class="ed-perfil">
    <h1 class="ed-perfil-text">Editar perfil</h1>
</div>

<div class="padre">
    <div>
        <img class="imgPerfil" src="{{userService.user.photo}}" alt="">
    </div>
    
    <form action="" class="form">
        <input type="text"  #photo placeholder="Pege aquí el enlace de la imagen que desee...">
        <input type="text"  #name placeholder="{{userService.user.firstname}}">
        <input type="text"  #last_name placeholder="{{userService.user.surname}}">
        <input type="text"  #ubicacion placeholder="{{userService.user.location}}">
        <input type="email" #email placeholder="{{userService.user.email}}">
        <input type="password"  #password placeholder="Introduzca la nueva contraseña">
        <input type="password"  #password2 placeholder="Repita la nueva contraseña">
    </form>
    <button type="submit" class="btn" (click)="modificarUser(photo.value,name.value,last_name.value,ubicacion.value,email.value,password.value)">Guardar</button>
    <a class="cancelar" (click)="cancelar()">Cancelar</a>
</div>