.tarjeta {
    position: relative;
    text-align: left;
    width: 173px;
    height: 233px;
    font-size: 13px;
    font-family: "Pavanam";
    /* margin-left: 12px; */
    margin-bottom: 0px;
    margin-top: 2px;

    /* border: 5px solid red; */

    /* display: inline-flex;
    padding: 13px 2px 0px 0px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: -0.156px;
    height: 233px; */
  }

    .foto {
        position: absolute;
        top: 0px;
        left: -2px;
        width: 171px;
        height: 185px;
        object-fit: cover;
    }

    .texto {
        top: 184.84px;
        left: -2px;
        background-color: rgb(255, 255, 255);
        /* border: 10px solid blue; */
        /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); */
    }


    .texto {
        position: relative;
        width: 170px;
        height: 36px;
    }

    .contenedor_texto {
        position: relative;
        border: 0.2px solid rgba(58, 58, 58, 0.37);
        width: 171px;
        height: 36.16px;
    }


        .titulo {
            display: flex;
            align-items: center;
            position: absolute;
            margin-top: 3px;
            letter-spacing: 0.06em;
            width: 108.28px;
            height: 16.07px;
            margin-left: 5px;
            color: black;
            font-weight: 500;
            font-size: 13px;
        }

        .precio {
            display: flex;
            align-items: center;
            position: absolute;
            top: 18.16px;
            left: 5px;
            font-size: 10px;
            letter-spacing: 0.06em;
            color: rgba(0, 0, 0, 0.7);
            width: 38px;
            height: 20px;
        }


        /* boton de uiverse: */

        .heart-container {
            --heart-color: rgb(255, 91, 137);
            position: absolute;
            top: 10.89%;
            left: 85%;
            width: 16px;
            height: 14.066px;
            flex-shrink: 0;
            transition: .3s;
        }

        .heart-container .checkbox {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 20;
            cursor: pointer;
        }

        .heart-container .svg-container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .heart-container .svg-outline,
                .heart-container .svg-filled {
            fill: var(--heart-color);
            /* position: absolute; */
        }

        .heart-container .svg-filled {
            animation: keyframes-svg-filled 1s;
            /* display: none; */
        }

        .heart-container .svg-celebrate {
            position: absolute;
            animation: keyframes-svg-celebrate .5s;
            animation-fill-mode: forwards;
            display: none;
            /* stroke: var(--heart-color); */
            fill: var(--heart-color);
            stroke-width: 0.5px;
        }

        .heart-container .checkbox:checked~.svg-container .svg-filled {
            display: block
        }

        .heart-container .checkbox:checked~.svg-container .svg-celebrate {
            display: block
        }

        @keyframes keyframes-svg-filled {
            0% {
            transform: scale(0);
            }

            25% {
            transform: scale(1.2);
            }

            50% {
            transform: scale(1);
            filter: brightness(1.5);
            }
        }

        @keyframes keyframes-svg-celebrate {
            0% {
            transform: scale(0);
            }

            50% {
            opacity: 1;
            filter: brightness(1.5);
            }

            100% {
            transform: scale(1.4);
            opacity: 0;
            display: none;
            }
        }
        .boton-eliminar{
            position: absolute;
            display: flex;
            justify-content: center;
            margin-top: 3px;
            align-items: center;
            /* background-color: #093a5484; */
            background-color: #fafafa10;
            /* background-color: rgba(0, 0, 0, 0.374); */
            backdrop-filter: blur(4px);
            border: 1px solid #fafafa10;
            color: var(--white);
            font-family: "Pavanam";
            border-radius: 9px;
            width: 30px;
            height: 23px;
            font-size:medium;
            /* font-weight: bold; */
            text-align: center;
            /* border: none; */
        }

        .boton-editar{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--dark_blue);
            color: white;
            font-family: "Pavanam";
            border-radius: 9px;
            width: 65px;
            height: 27px;
            right: 0px;
            border: none;
        }
@media screen and (min-width: 412px) {
    /* .tarjeta{
        width: 180px;
        height: 250px;
        font-size: 17px;
    } */
}
@media screen and (min-width: 768px) {
    .tarjeta{
        width: 300px;
        height: 360px;
        font-size: 25px;
    }
    .foto{
        width: 300px;
        height: 300px;
    }
    .texto {
        top: 300px;
        width: 300px;
        height: 60px;
    }
    .contenedor_texto{
        width: 300px;
        height: 60px;
    }
    .titulo{
        margin-top: 10px;
        letter-spacing: 0.06em;
        width: 158.28px;
        height: 16.07px;
        margin-left: 5px;
        color: black;
        font-weight: 500;
        font-size: 25px;
    }
    .precio{
        top: 32.16px;
        left: 5px;
        font-size: 20px;
        letter-spacing: 0.06em;
        color: rgba(0, 0, 0, 0.7);
        width: 100px;
        height: 25px;
    }
    .heart-container{
        top: 10.89%;
        left: 85%;
        width: 28px;
        height: 25.066px;
    }

}
@media screen and (min-width: 820px) {
    .tarjeta{
        width: 300px;
        height: 360px;
        font-size: 25px;
    }
    .foto{
        width: 300px;
        height: 300px;
    }
    .texto {
        top: 300px;
        width: 300px;
        height: 60px;
    }
    .contenedor_texto{
        width: 300px;
        height: 60px;
    }
    .titulo{
        margin-top: 10px;
        letter-spacing: 0.06em;
        width: 158.28px;
        height: 16.07px;
        margin-left: 5px;
        color: black;
        font-weight: 500;
        font-size: 25px;
    }
    .precio{
        top: 32.16px;
        left: 5px;
        font-size: 20px;
        letter-spacing: 0.06em;
        color: rgba(0, 0, 0, 0.7);
        width: 100px;
        height: 25px;
    }
    .heart-container{
        top: 10.89%;
        left: 85%;
        width: 28px;
        height: 25.066px;
    }
}

/* app-modal-confirmacion-prenda{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    z-index: 9999999999;

    display: flex;
    justify-content: center;
    align-items: center;
} */