<div class="barra">
  <h1>Publicar</h1>
</div>

<form class="formulario" #prendaForm="ngForm">

  <div class="imagesUpload">

    <button class="download-button">
      <div class="docs"><svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="20" width="20" viewBox="0 0 24 24"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line y2="13" x2="8" y1="13" x1="16"></line><line y2="17" x2="8" y1="17" x1="16"></line><polyline points="10 9 9 9 8 9"></polyline></svg>Imagen</div>
      <div class="download">
        <input type="text" #foto1 required>
      </div>
    </button>

    <button class="download-button">
      <div class="docs"><svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="20" width="20" viewBox="0 0 24 24"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line y2="13" x2="8" y1="13" x1="16"></line><line y2="17" x2="8" y1="17" x1="16"></line><polyline points="10 9 9 9 8 9"></polyline></svg>Imagen</div>
      <div class="download">
        <input type="text" #foto2 required>
      </div>
    </button>

    <button class="download-button">
      <div class="docs"><svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="20" width="20" viewBox="0 0 24 24"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line y2="13" x2="8" y1="13" x1="16"></line><line y2="17" x2="8" y1="17" x1="16"></line><polyline points="10 9 9 9 8 9"></polyline></svg>Imagen</div>
      <div class="download">
        <input type="text" #foto3 required>
      </div>
    </button>

    <button class="download-button">
      <div class="docs"><svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="20" width="20" viewBox="0 0 24 24"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line y2="13" x2="8" y1="13" x1="16"></line><line y2="17" x2="8" y1="17" x1="16"></line><polyline points="10 9 9 9 8 9"></polyline></svg>Imagen</div>
      <div class="download">
        <input type="text" #foto4 required>
      </div>
    </button>

    </div>
    
  
  <div class="form-group">
    <input type="text" #titulo class="form-control" placeholder="titulo" required>
  </div>

  <div class="form-group">
    <input type="number" #precio class="form-control" placeholder="precio" required>

  </div>

  <div class="form-group">
    <input type="text" #descripcion class="form-control" placeholder="Descripcion" required>
  </div>

  <div class="form-group">
    <select class="form-select" #tipo name="tipo" required>
      <option selected disabled>Tipo...</option>
      <option  *ngFor="let t of arrTipo" [value]="t">{{t}}</option>
    </select>
  </div>

  <div class="form-group">
    <select class="form-select" type="select" #talla required>
      <option selected disabled>Talla...</option>
        <option *ngFor="let talla of arrTalla" [value]="talla">{{talla}}</option>
    </select>
  </div>

  <div class="form-group">
    <select class="form-select" #evento name="evento" required>
      <option selected disabled>Evento...</option>
        <option *ngFor="let evento of arrEvento" [value]="evento">{{evento}}</option>
    </select>
  </div>

  <div class="form-group">
    <select class="form-select" #estado name="estado" required>
      <option selected disabled>Estado...</option>
        <option *ngFor="let estado of arrEstado" [value]="estado">{{estado}}</option>
    </select>
  </div>

  <div class="form-group">
    <select class="form-select" #location name="estado" required>
      <option selected disabled>Ubicacion...</option>
        <option *ngFor="let Ubicacion of arrUbicacion" [value]="Ubicacion">{{Ubicacion}}</option>
    </select>
  </div>

  <div class="form-group">
    <button type="submit" class="btn"
  (click)="addPrenda(titulo.value,precio.value,descripcion.value,tipo.value,talla.value,evento.value,estado.value,location.value,foto1.value,foto2.value,foto3.value,foto4.value)">Publicar</button>

    </div>
  <button type="button" class="btn1"  (click)="goBack()">Cancelar</button>
</form>
