
.barra{
    height: 44px;
    width: 100%;
    margin-top: 44px;
    background-color: var(--pink);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.barra h1{
    font-weight: lighter;
    margin-top: 10px;
}
.form-group div p{
  height: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.form-group div {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-group{
 
  width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
    
}
.formulario{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0;
}
.btn{
    background-color: var(--dark_blue);
    color: var(--white);
    width: 320px;
    margin-bottom: 20px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-select{
    border: 1px solid var(--dark_blue);
    width: 320px;
    height: 45px;
}

.form-control{
    border: 1px solid var(--dark_blue);
    width: 320px;
    height: 45px;
}

.input-group{
    color: 1px solid var(--dark_blue);
    width: 320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imagesUpload{
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 18px;
  margin-top: 10px;
}


.custum-file-upload {
    height: 110px;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 1px dashed var(--dark_blue);
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 10px;
    /* box-shadow: 0px 48px 35px -48px #e8e8e8; */
  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 80px;
    fill: #e8e8e8;
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 400;
    color: #e8e8e8;
  }
  
  .custum-file-upload input {
    display: none;
  }

/* samsung s22 */
   @media screen and (max-width: 412px )
  {
    .form-control{
      height: 50px;
      font-size: 30px;
    }
    .form-select{
      height: 50px;
      font-size: 30px;
    }
    .btn{
      height: 50px;
      font-size: 30px;
    }
   
   } 

/* Ipad mini */
  @media screen and (min-width: 768px )
   {
     .form-control{
      border: 2px solid var(--dark_blue);
       height: 60px;
       font-size: 40px;
       width: 600px;
     }
     .form-select{
      border: 2px solid var(--dark_blue);
       height: 60px;
       font-size: 40px;
       width: 600px;
     }
     .btn{
      border: 2px solid var(--dark_blue);
       height: 60px;
       font-size: 40px;
       width: 600px;
       margin-bottom: 40px;
     }
     .formulario{
       gap: 10px;
     }
     .form-group div p{
      padding: 8px;
      font-size: 30px;
     }
     .barra{
      height: 80px;
      width: 100%;
      margin-top: 44px;
      
  }
  
  .barra h1{
      font-weight: lighter;
      margin-top: 10px;
      font-size: 50px;
  }

  
.imagesUpload{
  width: 700px;
  gap: 18px;
  margin-top: 20px;
}


.custum-file-upload {
  height: 220px;
  width: 287px;
  gap: 20px;
  border: 2px dashed var(--dark_blue);
  background-color: var(--white);
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 160px;
  fill: #e8e8e8;
}

    }

/* ipad air */
   @media screen and (min-width: 820px )
   {
     .form-control{
      border: 2px solid var(--dark_blue);
       height: 60px;
       font-size: 40px;
       width: 600px;
     }
     .form-select{
      border: 2px solid var(--dark_blue);
       height: 60px;
       font-size: 40px;
       width: 600px;
     }
     .btn{
      border: 2px solid var(--dark_blue);
       height: 60px;
       font-size: 40px;
       width: 600px;
       margin-bottom: 40px;
     }
     .formulario{
       gap: 10px;
     }

     .barra{
      height: 80px;
      width: 100%;
      margin-top: 44px;
      
  }
  
  .barra h1{
      font-weight: lighter;
      margin-top: 10px;
      font-size: 50px;
  }

  
.imagesUpload{
  width: 700px;
  gap: 18px;
  margin-top: 20px;
}


.custum-file-upload {
  height: 220px;
  width: 287px;
  gap: 20px;
  border: 2px dashed var(--dark_blue);
  background-color: var(--white);
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 160px;
  fill: #e8e8e8;
}
} 