.padre{
    margin-top: 50px;
    height: 48px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--rosa, #FFC9CE);
    font-size: 1.3em;
    }
.padre2{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 161;
    
}
.padre2 img{
    width: 160px;
    height: 161px;
    border-radius: 5px;
    margin-top: -3px;
}
.separacion{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    height: 155px;
}
.abajo{
    display: flex;
    justify-content: space-between;
}
.foto{
    padding-top: 10px;
    padding-left: 7px;
}
.button{
    background: transparent;
    border: 4px solid white;
}
.user{
    font-size: 1.7em;
}

/* BTNS IMAGEN */
.botonesImg{
    display: flex;
    flex-direction: column;
    height: 125px;
    width: 30px;
    justify-content: space-between;
    transform: translate(180px, 12px);
    position: absolute;
}

.btnImg img{
    width: 25px;
    height: 25px;
}



/* MOSTRAR PRENDAS FAV O MIAS */
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    /* height: 477.345px; */
    /* margin-left: 6px;
    margin-right: 5px; */
    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: var(--Azul-secundario, #CFE2EB);
    margin-top: 10px;

}
.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    height: 65px;
    margin-top: -15px;
   
} 

/* .botones p{
    display: flex;
    justify-content: center;
    align-items: center;

} */

    /* Botones mis prendas y favoritas */
    .btn{
        width: 187.25px;
        height: 41px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .right{
            border-bottom-right-radius: 0px;
        }
        .left{
            border-bottom-left-radius: 0px;
        }

    .cards{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 390px;
        flex-wrap: wrap;
        padding:12px;
        margin-left: 4px;
    }


   



    