<app-header></app-header>
<div class="padre">Perfil</div>
<section class="padre2">
    <!-- <section class="image"> -->
<img src="../../../assets/imgRegister/portada-foto-perfil-redes-sociales-consejos 1.png" alt="" class="foto">
<!-- </section> -->
<section class="separacion">
    <div class="user">Luisa Martinez
        <button class="button">🖋️</button>
    </div>
    <div class="e-mail">luisa@gmail.com
        <button class="button">🖋️</button>
    </div>
    <section class="abajo">
        <div class="lugar">Madrid
            <button class="button">🖋️</button>
        </div>
        <div class="upload">
            <button class="button">📁</button>
        </div>
    </section>
</section>
</section>
<section class="pestañas">
    <div class="prenda">
        Mis Prendas
    </div>
    <div class="favoritos">
        Favoritos
    </div>
</section>
<section class="carta">
    <div class="textoCarta">
        <app-card class="tarjetas"></app-card>
    </div>
</section>
<!-- <app-footer></app-footer> -->