.padre{
    margin-top: 50px;
    height: 48px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--pink);
    font-size: 1.3em;
    }
.padre2{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 161;
    
}
.padre2 img{
    width: 160px;
    height: 160px;
    border-radius: 5px;
    margin-top: -3px;
}
.separacion{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    height: 155px;
}
.abajo{
    display: flex;
    justify-content: space-between;
}
.foto{
    padding-top: 10px;
    padding-left: 7px;
}
.button{
    background: transparent;
    border: 4px solid white;
}
.user{
    height: 150px;
    width: 180px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
}
.nombrecompleto{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.name{
    font-size: 20px;
    flex-wrap: wrap;
}
.apellido{
    font-size: 20px;
}


/* BTNS IMAGEN */
.botonesImg{
    display: flex;
    flex-direction: column;
    height: 125px;
    width: 30px;
    justify-content: space-between;
    transform: translate(180px, 12px);
    position: absolute;
}

.btnImg img{
    width: 25px;
    height: 25px;
}



/* MOSTRAR PRENDAS FAV O MIAS */
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    /* height: 477.345px;  */
    margin-left: 7.5px;
    /* margin-right: 5px;  */
    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: var(--Azul-secundario, #CFE2EB);
    margin-top: 10px;

}
.if{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    height: 65px;
    margin-top: -15px;
   
} 

/* .botones p{
    display: flex;
    justify-content: center;
    align-items: center;

} */

    /* Botones mis prendas y favoritas */
    .btn{
        width: 187.25px;
        height: 41px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .right{
            border-bottom-right-radius: 0px;
        }
        .left{
            border-bottom-left-radius: 0px;
        }


    .container2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 390px;
        flex-wrap: wrap;
        /* padding: 7px; */
        /* gap: 14px; */
        margin-left: 10px;
        /* margin-top: 14px; */
    }

    /* Más de 1 prenda */
    .masDeUnaPrendaMia{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 390px;
        flex-wrap: wrap;  
        padding: 7px;
        gap: 8px;
        margin-left: 8px;
        margin-top: -7px;
    }

    .masDeUnaPrendaFav{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 390px;
        flex-wrap: wrap;  
        padding: 7px;
        gap: 8px;
        margin-left: 26px;
        margin-top: -7px;
    }

    /* Si sólo aparece una prenda */
    .unaPrenda{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 390px;
        flex-wrap: wrap;  
        padding: 7px;
        gap: 14px;
        margin-left: 10px;
        margin-top: 14px;
    } 
   
    @media screen and (min-width: 768px){
    /* .app-card{
        width: 750px;
        gap: 0;
        padding: 0;
    } */
     .cards{
        width: 750px;
       gap:25px;
       padding: 25px;
       
     }
     .container{
        gap: 0;
       width: 768px;
        padding: 15px;
        margin-bottom: 20px;
     }
     .padre{
        height: 80px;
        width: 100%;
        margin-top: 90px;
        font-weight: lighter;
        /* margin-top: 10px; */
        font-size: 50px;
    }
    .padre2{
        height: 200px;
        width: 100%;
        gap: 20px;
    }
    .user{
        height: 200px;
        width: 550px;
       }
       .padre2 img{
        height: 200px;
        width: 200px;
       }
       .btnImg{margin-left: 270px;
        height: 40px;
        width: 40px;
       }
       .btnImg img{
        height: 100%;
        width: 100%;
       }
}


    