
.banner{
    background-image: url('../../../assets/langdingpage/fondochica.png');
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin-top: 44px;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.cardsContainer{
    
    height: auto;
    width: 100%;
    margin-top:30px;
}


.boton{
    width: 155px;
    height: 44px;
    border-radius: 9px;
    background: var(--dark_blue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 326px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

}
.boton h1{
    color: var(--white);
    font-weight: lighter;
}


/* s22 ultra */
@media screen and (min-width: 412px) {
    .boton{
        height: 50px;
        width: 150px;
        margin-top: 320px;
    }

    .slogan img{
        height: 70px;
        width: 250px;
    }
}

/* ipad mini */
@media screen and (min-width: 768px) {
    
    .banner{
        height: 500px;
    }
    .boton{
        height: 60px;
        width: 240px;
        margin-top: 462px;
    }
    .boton h1{
        font-size: 40px;
    }
    .slogan img{
        height: 90px;
        width: 450px;
    }
}

/* ipad air */
@media screen and (min-width: 820px) {
    
    .banner{
        height: 580px;
    }
    .boton{
        height: 70px;
        width: 250px;
        margin-top: 542px;
    }
    .boton h1{
        font-size: 40px;
    }
    .slogan img{
        height: 100px;
        width: 490px;
    }
}
