
.banner{
    background-image: url('../../../assets/langdingpage/fondolanding3.jpg');
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
   
    margin-top: 44px;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.slogan img{
    height: 60px;
    margin-left: 2px;
}
.textoslogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 210px;
    position: absolute;
    margin-left: -2px;
    margin-top: 15px;
}

.textoslogan .p1{
    /* margin-top: 10px; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    width: 200px;
    margin-left: 15px;
    height: 60px;
    flex-wrap: wrap;
}


.textoslogan .titulo{
   
  background: var(--AZUL-DEG, linear-gradient(180deg, rgba(7, 84, 124, 0.59) 0%, #093A54 100%));
  background-clip: text;
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
    font-family: var(--titulo);
    margin-left: 5px;
}
.textoslogan span{
    font-weight: lighter;
    font-size: 12px;
}


.cardsContainer{
    
    height: auto;
    width: 100%;
    margin-top:30px;
    margin-bottom: 20px;
}


.boton{
    width: 120px;
    height: 35px;
    border-radius: 9px;
    background: var(--dark_blue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    position: absolute;

}
.boton h1{
    color: var(--white);
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
    margin-top: 8px;
}
.cardsContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 390px;
    flex-wrap: wrap;
    padding: 7px;
    gap: 0;
    /* margin-left: 10px;
    margin-right: 10px; */
}



/* s22 ultra */
@media screen and (min-width: 412px) {
    .banner{
       margin-top: 50px;
    }
    .boton{
        height: 50px;
        width: 150px;
        margin-top: 205px;
    }

    .slogan img{
        height: 70px;
        width: 285px;
    }
    .cardsContainer{
        width: 412px;
        gap: 10px;
        padding: 16px;
        margin-bottom: 0;
    }
    .textoslogan{
        height: 100px;
        width: 285px;
    }
    .textoslogan .p1{
        height: 90px;
        width: 285px;
        font-size: 15px;
        margin-bottom: 60px;

    }
    .textoslogan span{
        margin-right: 15px;
        font-size: 15px;
    }
}

/* ipad mini */
@media screen and (min-width: 768px) {
    
    .banner{
        height: 500px;
        margin-top: 90px;
    }
    .boton{
        height: 60px;
        width: 240px;
        margin-top: 462px;
    }
    .boton h1{
        font-size: 40px;
    }
    .slogan img{
        height: 90px;
        width: 450px;
    }
    .cardsContainer{
        width: 768px;
        gap: 50px;
        padding: 50px;
    }
    .textoslogan{
        height: 100px;
        width: 450px;
    }
    .textoslogan .p1{
        height: 90px;
        width: 450px;
        font-size: 25px;
        margin-bottom: 30px;
    }
    .textoslogan span{
        margin-right: 15px;
        font-size: 25px;
    }
}

/* ipad air */
@media screen and (min-width: 820px) {
    
    .banner{
        height: 580px;
        margin-top: 90px;
    }
    .boton{
        height: 70px;
        width: 250px;
        margin-top: 542px;
    }
    .boton h1{
        font-size: 40px;
    }
    .slogan img{
        height: 100px;
        width: 490px;
    }
    .cardsContainer{
        width: 820px;
        gap: 50px;
        padding: 50px;
    }
    .textoslogan{
        height: 100px;
        width: 450px;
    }
    .textoslogan .p1{
        height: 90px;
        width: 450px;
        font-size: 25px;
    }
    .textoslogan span{
        margin-left: 20px;
        font-size: 25px;
    }
}
