<app-header></app-header>
<div class="banner">
    <div class="slogan">
        <div class="textoslogan">
            <p class="p1">Esto es <span class="titulo">GalaGo!</span><br>
            <span>Donde le podrás sacar partido a tu armario</span></p>  
        </div>
        <img src="../../../assets/langdingpage/slogansolo.png" alt="">
        
    </div>
    <button class="boton" on-click="irLogin()">
        <h1>Alquila ya!</h1>
    </button>

</div>

<div class="cardsContainer">
    <app-card class="app-card" *ngFor="let prenda of prendas" [prenda]="prenda" [prendas]="prendas" ></app-card>
</div>
<app-footer></app-footer>