
body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 844px;
    /* position: relative;  */
    /* border: 0.5px red solid; */
}

.page-item{
    margin-left: 10px;
    margin-bottom: 2px;
    width: 30px;
    height: 35px;
}

.boton{
 
        width: 20px;
        margin-left: 10px;
        margin-bottom: -40px;
        margin-top:-20px;
        /* border: 2px solid red; */

}


.Chats{
    height: 44px;
    width: 100%;
    margin-top: 44px;
    background-color: var(--pink);
    display: flex;
    justify-content:flex-start;
    /* align-items: center; */
  
    
}


h1.chatsText{
      /* border:10px solid rgb(174, 255, 0);
    border-radius: 14px; */ 
    flex-shrink: 0;
    /* TIPOGRAFÍA */
    /* margin:auto; */
    margin-left: 130px ;
    margin-top:10px;
    color: #000;
    text-align: center; 
    font-feature-settings: 'clig' off, 'liga' off;
    font-family:"Pavanam", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    letter-spacing: 1.2px;
}
div.container-fluid{
    height: 40px;
    width: 390px;
    display: flex;
    justify-content:flex-start;
}
.textUser{
    font-family: "Pavanam", sans-serif;
    font-size: 15px;
}
.card-body{
    height: 83vh;/*consultar altura solo del body*/
    overflow-y: auto; /* Hace que el contenido sea desplazable verticalmente cuando sea necesario */
    /* position: fixed; */
}
input.form-control{
    margin-top: 10px;

    
}
.input-group-text{
    background-color: var(--pink);
    margin-left: 10px;

 
}

 span{
    color: var(--dark_blue);
    text-decoration: none;
    font-size: large;
    
 }


.recibido{
    
        display: block;
        float:left;
        background-color:#73A4BD;
        color:var(--white);
        min-width: 50.01%;
        border-radius: 10px;
        text-align: left;
        height: 30px;
        font-family: "Pavanam", sans-serif;
       
}
strong.recibido{
    margin: 9px 0px 0px 15px; 
}

strong.enviado{
    margin: 9px 15px 0px 15px;
}
/* strong.recibido:before{
    border: 10px solid #73A4BD;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: 169px;
    right: 355px;
    transform: rotate(20deg);
} */


img.d-inline-block.align-text-top{
    height: 24px;
    width: 30px;
}

.userMsg{
    display: block;
    float:right;
    background-color:#FDECEE;
    color:black;
    min-width: 50.01%;
    border-radius: 10px;
    text-align: left;
    height: auto;
    font-family: "Pavanam", sans-serif;
    }
    
.soporteMsg{
        display: flex;
        float:left;
        background-color:#73A4BD;
        color:var(--white);
        min-width: 50.01%;
        border-radius: 10px;
        text-align: left;
        height: auto;
        font-family: "Pavanam", sans-serif;
    }
/* .bocadillo{
    position: relative;
    height: 30px;
    width: 300px;
    background-color: #73A4BD;
    border-radius: 5px;
    margin: 20px 0px 0px 20px;
} */
/* .bocadillo:before{
    border: 10px solid #73A4BD;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: 25px;
    right: 285px;
    transform: rotate(20deg);
    margin: 20px 0px 0px 20px;
} */
div.position-relative.py-2.px-4.text-bg-secondary.border.border-secondary.rounded-pill{
    display: block;
    float:right;
    background-color:#73A4BD;
    color:var(--white);
    min-width: 50.01%;
    border-radius: 10px;
    text-align: left;
    height: 30px;
    font-family: "Pavanam", sans-serif;
    gap:5px;
    margin: 9px 15px 0px 15px;
}

/* .contenido_Chat{
    background-color: #000;
} */

/* Samsung Galaxy S20 Ultra */
@media screen and (max-width: 412px )
{
    /* .contenido_Chat{
        background-color: #fa0707;
    } */
   
    div.container-fluid{
        height: 40px;
        display: flex;
        justify-content:flex-start;
    }
    .textUser{
        margin-right: 5px;
        font-size:18px;
    }
    .input-group-append{
        margin-top: 10px;
        padding: 0px;
    }
   
}

 /* Ipad mini */
 @media screen and (min-width: 413px) and (max-width: 819px) 
 {
    /* .contenido_Chat{
        background-color: #13d230;
    } */
   
    .Chats{
        height: 70px;
        margin-top: 80px;
        
    }
    .chatsText{
        font-size: 45px;
        font-weight: lighter;
    }
    .enviado{
        height: 60px;
       }
    p.enviado.p-2{

        font-size: x-large;
    }
       .recibido{
        height: 60px;
       }

       p.recibido.p-2{

        font-size: x-large;
    }
    div.container-fluid{
        height: 80px;
        /* display: flex;
        justify-content:left; */
    }
   
    .textUser{
        margin-right: 5px;
        font-size:xx-large;
        gap:5x;
    }
    img.d-inline-block.align-text-top{
        height: 80px;
        width: 100px;
        margin-left: -180px;
    }
   
    
    input.form-control.ng-untouched.ng-pristine.ng-valid{
        margin-top: 30px;
    }
    span#basic-addon2.input-group-text{
        margin-top: 30px;
        font-size: x-large;
    }
}
/* Ipad Air */
@media screen and (min-width: 820px )
{

    /* .contenido_Chat{
        background-color: #2d08fc;
    } */
    .Chats{
        height: 80px;
        margin-top: 90px;
        gap:35px;
    }
    .chatsText{
        font-size: 50px;
        font-weight: lighter;
    }
    .enviado{
        height: 60px;
       }
    p.enviado.p-2{

        font-size: x-large;
    }
       .recibido{
        height: 60px;
       }

       p.recibido.p-2{

        font-size: x-large;
    }
    div.container-fluid{
        height: 85px;
        display: flex;
        justify-content:flex-start;
    }
   
    .textUser{
        margin-right: 5px;
        font-size:xx-large;
    }
    img.d-inline-block.align-text-top{
        height: 80px;
        width: 100px;
    }
   
    input.form-control.ng-untouched.ng-pristine.ng-valid{
        margin-top: 165px;
    }
    span#basic-addon2.input-group-text{
        margin-top: 165px;
        font-size: x-large;
    }
}


.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

/* .card-footer{
    position: absolute;
    bottom: 0;
    left: 0;
} */

.contenido_Chat{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.card-body{
    flex: 1;
    overflow: auto;
}

.card-footer{
    flex-shrink: 0;
}