body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 390px;
    height: 844px;
    position: relative; 
    /* border: 0.5px red solid; */
}

/* .contenido_Chat{

 width: 390px;
    height: 844px;
} */

/* .page-item{

    margin-bottom:20% ;
} */

.page-link{
    /* border:10px solid rgb(174, 255, 0);
    border-radius: 14px; */
    margin-top: 8%;
    margin-right: 235px;
    background-color: var(--pink);
    border-color: var(--white);
}
.Chats{
    height: 44px;
    width: 100%;
    margin-top: 44px;
    background-color: var(--pink);
    display: flex;
    justify-content:center;
    align-items: center;
    
}


.chatsText{
      /* border:10px solid rgb(174, 255, 0);
    border-radius: 14px; */
    /* width: 86px;
    height: 27px; */
    flex-shrink: 0;
    /* TIPOGRAFÍA */
    margin:auto;
    margin-left: 50px ;
    color: #000;
    text-align: center; 
    /* font-feature-settings: 'clig' off, 'liga' off; */
    font-family:"Pavanam", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 130%; 
    letter-spacing: 1.2px; */
}
.card-body{
    height: 655px;/*consultar altura solo del body*/
}


.input-group-text:active{
   
    transition: color 0.3s ease;
}

.input-group-text:active:hover{
    background-color: var(--pink);
    
} 

.enviado{
 display: block;
 float:right;
 background-color:#FDECEE;
 color:black;
 min-width: 50.01%;
 border-radius: 5px;
 text-align: left;
}

.recibido{
    
        display: block;
        float:left;
        background-color:#73A4BD;
        color:var(--white);
        min-width: 50.01%;
        border-radius: 5px;
        text-align: left;
       
}