<div class="contenido_Chat">
    <div class="Chats">
        <a routerLink="/chat">
            <img class="boton" src="../../../assets/boton_atras/boton_atras.png" alt="">
        </a>
        <div>
            <h1 class="chatsText">Chats</h1>
        </div>
    </div>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="d-inline-block align-text-top" [src]="conversacionChatService.propietarioPrenda?.photo" />
            </a>
            <div class="textUser">{{conversacionChatService.propietarioPrenda?.firstname}}
            </div>
        </div>
    </nav>

    <div class="card-body" #chatContainer>
        <div *ngFor="let item of messages">
            <div [ngClass]="user.iduser === item.iduser ? 'text-right': 'text-left'">
                <p [ngClass]="user.iduser === item.iduser ? 'userLogueado': 'propietarioPrendas'">{{item.message}}</p>
            </div>
        </div>

    </div>
    <form class="card-footer text-muted input-group">
        <input maxlength="32" type="text" #texto class="form-control" placeholder="Escribe un mensaje">
        <div class="input-group-append" (click)="enviarMensaje(texto.value); texto.value=''">
            <span class="input-group-text" id="basic-addon2">Enviar</span>
        </div>

    </form>

</div>