*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

:root{
    --dark_blue: #093a54;
    --pink: #ffc9ce;
    --ligth_blue: #cfe2eb;
    --white:#ffffff;
    --titulo: "Pattaya", sans-serif;
}
*{
    font-size: 15px;
    font-family:"Pavanam", sans-serif;
}



