<div class="modal-background" >

    <div class="modal-contenido">
        
        <div class="orden">
            <div class="modal1">
                <input #photo1 class="inputmodal" type="text">
            </div>
            <div class="botones">
                <button type="submit" (click)="enviar()">Confirmar</button>
                <button type="button" (click)="enviarFalse()">Cancelar</button>
            </div>
            
        </div>
       
    </div>

</div>


<!-- <div class="modal1">
    <input #photo placeholder="Introduce la nueva foto" class="inputmodal" type="text">
</div>
<div class="botones">
    <button type="submit"  (click)="enviar(photo.value)">Confirmar</button>
    
</div> -->