<div class="modal-background" >

    <div class="modal-contenido">
        
        <div class="orden">
            <div class="modal1">
                <h2>Edita la imagen</h2>
                <input #photo placeholder="Ingrese la url de la imagen...">
            </div>
            <div class="botones">
                <button (click)="updateImage(photo.value)">Confirmar</button>
                <button (click)="closeModal()">Cancelar</button>
            </div>
            
        </div>
       
    </div>

</div>


<!-- <div class="modal1">
    <input #photo  class="inputmodal" type="text">
</div>
<div class="botones">
    <button type="submit"  (click)="enviar(photo.value)">Confirmar</button>
    
</div> -->