/* ------------------------------------------------------------ */
/* LO QUE CAMBIASTE CON CRISTINA PARA CAMBIAR MAQUETACIÓN */
/*
    .linea{
      border-bottom: 0.4px solid var(--dark_blue);
      width: 85%;
      margin-top: 2%;
      transform: translateX(8%);
    }

    .column1{
      display: flex;
      flex-direction: column;
      width: 70%;
      gap: 10px; 
    }
      .row1,.row2{
      display: flex;
      justify-content: space-between;
      margin-right: 30px;
      font-size: 15px;
      }
    .imagen{
      margin-left: 30px;
      width: 67px;
      height: auto;
    }
    svg{
      width: 16px;
      height: 16px;
      flex-shrink: 0;
    }
    a{
      text-decoration: none;
      color:var(--dark_blue);
    }

*/
/* ------------------------------------------------------------ */


.padre,.hijo1{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    /* border:2px red solid; */
    gap:10px;
    margin-bottom: 3px;
    margin-top:13px
    
}
.linea{
  
  border-bottom: 0.4px solid var(--dark_blue);
  width: 120%;
  margin-top: 4%;
  margin-left:2%;
 
}
/* .card-text1{
  margin-left: 1px;
} */
span.position-absolute.top-0.start-2.translate-middle.badge.rounded-pill.bg-secondary{
  margin-top: 7px;
}
    .column1{
        display: flex;
        flex-direction: column;
        width: 70%;
        gap:10px;
    }
        .row1,.row2{
        display: flex;
        justify-content: space-between;
        /* border:2px red solid; */
        margin-right: 30px;
        font-size: 15px;
        /* gap:5px; */
        }
    .imagen{
        /* border:2px red solid; */
        margin-left: 30px;
        /* style="width: 67px; max-height: 56px;"  */
        width: 67px;
        height: auto;
    }
    svg{
        width: 16px;
        height: 16px;
        flex-shrink: 0;
    }
    a{
        text-decoration: none;
        color:var(--dark_blue);
    }

/* Samsung Galaxy S20 Ultra */
@media screen and (max-width: 412px ) /* de 0px hasta 412 */
{
    /* .Chats{
        height: ;
    } */
    .padre{
   /*  height: 100px; */
    font-size: 30px;
  }
  .column1{
    height: 50px;
    font-size: 30px;
  }
 
 } 

 /* Ipad mini */
 @media screen and (min-width: 768px ) /* de 412a768 */
 {
   .padre{
    /* height: 500px; */
    font-size: 30px;
    width: 760px;
  }

  .column1{
    height: 60px;
    font-size: 30px;
    width: 760px;
  }
   /* .imagen{
   width:120px;
    height:100px;
   } */
       
}
/* ipad air */
@media screen and (min-width: 820px ) /* de 768 a 820 */
{
    .padre{
       /*  height: 200px; */
        font-size: 30px;
        width: 812px;
      }
    
      .column1{
        height: 60px;
        font-size: 30px;
        width: 812px;
      }
       /* .imagen{
        width:120px;
        height:100px;
       } */
       .row1, .row2{
        font-size: 50%;
       }
}
