
<!-- <div class="padre">
    {{ chatData | json }} -->
    <!-- <img [src]="chatData.photo" alt="">
    
</div> -->

<div class ="padre">
       
    <img [src]="chatData.photo" class="imagen" (click)="irMensajes()" alt="...">

    <div class ="column1">
    <!--Comunicación Padre-Hijo desde el hijo tarjeta-chat.component.ts chat va llamar a cada atributo foto,nombre, prenda,hora-->
        <div class="row1">
            <h5  class="card-title" (click)="irMensajes()">{{chatData.firstname}} {{chatData.surname}}</h5>
            <!-- <p class="card-text1">{{chatData.surname}}</p> -->
            <p class="card-text" ><small class="text-body-secondary">{{chatData.datehour  | date:'28/09/2023 13:42' }}</small></p>
        </div>
        <!-- <div class="row2">
            <h6 class="card-text"style="color: #104967 ;"><small class="text-body-secondary">{{chat.prenda}}</small></h6>
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <circle cx="8" cy="8" r="8" [ngStyle]="{fill:leido? '#FFF': '#104967'}"/>
            </svg> -->
            <!-- <button  class="btn btn-white position-relative">
            <span class="position-absolute top-0 start-2 translate-middle badge rounded-pill bg-secondary">2 <span class="visually-hidden">unread</span></span>
            </button>
        </div> --> 
        <div class="linea"></div>
    </div>
</div>


<!-- -------------------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- LO QUE CAMBIASTE CON CRISTINA PARA QUE CAMBIARA LA MAQUETACIÓN -->
<!-- <div class ="column1"> -->
    <!--Comunicación Padre-Hijo desde el hijo tarjeta-chat.component.ts chat va llamar a cada atributo foto,nombre, prenda,hora-->
       <!-- <div class="row1">
            <h5  class="card-title" (click)="obrenerIdUser2(chatData.iduser2)">{{chatData.firstname}} {{chatData.surname}}</h5>  -->
            <!-- circulo de no leido -->
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <circle cx="8" cy="8" r="8" [ngStyle]="{fill:leido? '#FFF': '#104967'}"/>
            </svg> 
        </div>

        <div class="row2">
            <p class="ultimoMensaje"></p>
            <p class="card-text" ><small class="text-body-secondary">{{chatData.datehour  | date:'28/09/2023 13:42' }}</small></p>
        </div> 
    </div> -->