.tarjeta {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-family: "Pavanam";
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 35px;
} 
      
         .foto {
            position: absolute;
            top: 48px;
            width: 390px;
            height: 554px;
            flex-shrink: 0;
            object-fit:cover;
        }
        
        .texto {
            margin-top: 565.84px;
            position: absolute;
            width: 170px;
            height: 36px;
        }
      
        .contenedor_texto {
            position: absolute;
            width: 175px;
            height: 36.16px;
        }
    
        #hr{
            height:8px; 
            width: 210%;
            margin: 8px;
        }
      
      
            .titulo {
                margin-left: 16px;
                margin-top: 5px;
                font-size: 24px;
            }
    
            .contactar{
                position: absolute;
                top: 165px;
                left: 250px;
                background: var(--dark_blue);
                color: aliceblue;
                border-radius: 9px;
                padding: 6px;
                font-size: 20px;
                font-style: normal;
                font-weight: 100;
                line-height: 130%;
                letter-spacing: 1.2px;
            }
    
            .talla{
                color: var(--dark_blue);
                font-family: "Pavanam";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                position: absolute;
                top: 63px;
                left: 16px;
            }
            
            .precio {
                color: var(--dark_blue);
                font-family: "Pavanam";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                position: absolute;
                top: 65px;
                left: 315px;   
            } 
    
            .descripcion{
                position: absolute;
                top: 100px;
                left: 16px;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
            }
            
            
            /* boton de uiverse: */
            
            .heart-container {
                --heart-color: rgb(255, 91, 137);
                position: absolute;
                top: 15px;
                left: 320px;
                width: 30px;
                height: 14.066px;
                flex-shrink: 0;
                transition: .3s;
            }
            
            .heart-container .checkbox {
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                z-index: 20;
                cursor: pointer;
            }
            
            .heart-container .svg-container {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .heart-container .svg-outline,
                    .heart-container .svg-filled {
                fill: var(--heart-color);
                position: absolute;
            }
            
            .heart-container .svg-filled {
                animation: keyframes-svg-filled 1s;
                display: none;
            }
            
            .heart-container .svg-celebrate {
                position: absolute;
                animation: keyframes-svg-celebrate .5s;
                animation-fill-mode: forwards;
                display: none;
                stroke: var(--heart-color);
                fill: var(--heart-color);
                stroke-width: 2px;
            }
            
            .heart-container .checkbox:checked~.svg-container .svg-filled {
                display: block
            }
            
            .heart-container .checkbox:checked~.svg-container .svg-celebrate {
                display: block
            }
            
            @keyframes keyframes-svg-filled {
                0% {
                transform: scale(0);
                }
            
                25% {
                transform: scale(1.2);
                }
            
                50% {
                transform: scale(1);
                filter: brightness(1.5);
                }
            }
            
            @keyframes keyframes-svg-celebrate {
                0% {
                transform: scale(0);
                }
            
                50% {
                opacity: 1;
                filter: brightness(1.5);
                }
            
                100% {
                transform: scale(1.4);
                opacity: 0;
                display: none;
                }
            }
    
    
    
    #btn-atras{
        position: absolute;
        top: 60px;
        left: 0px; 
        z-index: 9;
        font-family: "Pavanam";
        display: flex;
        height: 2.5em;
        width: 70px;
        align-items: center;
        justify-content: center;
        color: var(--dark_blue);
        border-radius: 3px;
        letter-spacing: 1px;
        cursor: pointer;
        border: none;
        background: none;
    }
    
    #btn-atras > svg {
        margin-right: 5px;
        margin-left: 5px;
        font-size: 20px;
       }
    
/* MEDIA QUERY */

    @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait), 
          (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
     
            .foto {
                width: 140%;
                height: 800px;
            }

            .tarjeta{
                margin-top: 300px;
            }

            #hr{
                width: 610%;
            }

            .titulo {
                margin-left: 30px;
                font-size: 35px;
            }
    
            .heart-container {
                left: 700px;
                width: 50px;
            }

            .talla{
                font-size: 40px;
                top: 100px;
                left: 30px;
            }

            .precio {
                font-size: 40px;
                top: 100px;
                left: 700px;   
            } 
    
            .descripcion{
                top: 300px;
                left: 30px;
                font-size: 50px;
            }

            .contactar{
                top: 900px;
                left: 40px;
                padding: 30px;
                width: 1000px;
            }
    }