<div class="padreSupremo">
    <div class="padre2">
  
      <div class="padre">
        <h1 class="hijo">GalaGo</h1>
      </div>
      <!-- <div class="fotito">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSvlnHpeFGWDvFpQx_JgD32n9_P01ELrahFRwggDKBQFGlnRM7U" alt="" class="photo">
      </div> -->
      <!-- <div class="input-group">
        <input required="" type="text" name="text" autocomplete="off" class="input">
        <label class="user-label">First Name</label>
        <input required="" type="text" name="text" autocomplete="off" class="input2">
        <label class="user-label2">Second Name</label>
      </div> -->
      
      <section class="section_form">
        <form id="consultation-form" class="feed-form" action="#">
          <input name="email" required="" placeholder="E-mail" type="email">
          <input required="" placeholder="Password" type="password">
          <button class="button_submit">LOGIN</button>
        </form>
        <p class="signup-link">
          ¿No tienes cuenta?
          <a href="/registro" class="signup-link link"> Registrate</a>
        </p>
        
      </section>
    </div>
    <div class="foto">
  
    </div>
    </div>
    