

<div class="contacta">
    <h1 class="contactaTexto">Contacta con nosotros</h1>
</div>

<div class="galago">
    <img src="../../../assets/galago/GalaGo.png" alt="">
</div>

<div  class="formulario">
    <h2>Mándanos un mensaje</h2>
    <form [formGroup]="datos">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input #first_name placeholder="Nombre" type="text" class="form-control" formControlName="firstname">
                <!-- <div *ngIf="!myForm.get('firstname').valid" class="invalid-feedback">
                    El nombre es obligatorio
                </div> -->

      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input #email placeholder="E-mail" type="email" class="form-control" formControlName="email">
        <!-- <div *ngIf="!myForm.get('email').valid" class="invalid-feedback">
            <div  *ngIf="myForm.get('email').errors.required">
                La direccion email es obligatoria
            </div>
            <div  *ngIf="myForm.get('email').errors.email">
                La direccion email es incorrecta
            </div>
        </div> -->
      </div>
      <div class="form-group">
        <label for="mensaje">Mensaje</label>
        <textarea #mensaje name="mensaje" type="text" class="form-control" formControlName="mensaje"></textarea>
      </div>
      <button type="submit" (click)="enviarMensaje()">Enviar</button>
    </form>
  </div>

  <app-footer></app-footer>

  <!-- LINEA ROSA: -->
  <!-- <div class="linea"></div>  -->
  <!--  -->

