

    <div class="padreSupremo">
      
      <img src="../../../assets/imgRegister/fondo para chico.png" alt="" class="foto2">
      <div class="padre2">
        <a routerLink="/landing-page"> 
          <img class="boton" src="../../../assets/botones/atras.png" alt="">
        </a>
        <div class="padre">
          
          <h1 class="hijo">GalaGo</h1>
        </div>
        <section class="section_form">
          
          <form [formGroup]="myForm" class="myForm">
    
            <div class="form-group">
              <div class="texto"></div>
              <input placeholder="Foto" type="url" class="form-control" formControlName="url" [ngClass]="{ 'is-invalid': (myForm.get('url').dirty || myForm.get('url').touched) && !myForm.get('url').valid}">
              <div *ngIf="!myForm.get('url').valid" class="invalid-feedback">
                  La dirreccion url es obligatorio
              </div>
          </div>
            <div class="form-group">
              <div class="texto"></div>
            <input placeholder="Nombre" type="text" class="form-control" formControlName="firstname" [ngClass]="{ 'is-invalid': (myForm.get('firstname').dirty || myForm.get('firstname').touched) && !myForm.get('firstname').valid}">
                    <div *ngIf="!myForm.get('firstname').valid" class="invalid-feedback">
                        El nombre es obligatorio
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="texto"></div>
                    <input placeholder="Apellidos" type="text" class="form-control" formControlName="surname" [ngClass]="{ 'is-invalid': (myForm.get('surname').dirty || myForm.get('surname').touched) && !myForm.get('surname').valid}">
                    <div *ngIf="!myForm.get('surname').valid" class="invalid-feedback">
                        El apellido es obligatorio
                    </div>
                </div>
                <div class="form-group">
                  <div class="texto"></div>
                  <input placeholder="E-mail" type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': (myForm.get('email').dirty || myForm.get('email').touched) && !myForm.get('email').valid}">
                  <div *ngIf="!myForm.get('email').valid" class="invalid-feedback">
                      <div  *ngIf="myForm.get('email').errors.required">
                          La direccion email es obligatoria
                      </div>
                      <div  *ngIf="myForm.get('email').errors.email">
                          La direccion email es incorrecta
                      </div>
                  </div>
              </div>
              <div class="form-group">
                <div class="texto"></div>
                <input placeholder="Contraseña" type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': (myForm.get('password').dirty || myForm.get('password').touched) && !myForm.get('password').valid}">
                <div *ngIf="!myForm.get('password').valid" class="invalid-feedback">
                    <div  *ngIf="myForm.get('password').errors.required">
                        La contraseña es obligatoria
                    </div>
                    <div  *ngIf="myForm.get('password').errors.minlength">
                        La contraseña es incorrecta
                    </div>
                </div>
            </div>
            <div class="form-group">
              <div class="texto"></div>
                <input placeholder="Repertir Contraseña" type="password" class="form-control" formControlName="password2" [ngClass]="{ 'is-invalid': (myForm.get('password2').dirty || myForm.get('password2').touched) && !myForm.get('password2').valid}">
                <div *ngIf="!myForm.get('password2').valid" class="invalid-feedback">
                    <div  *ngIf="myForm.get('password2').errors.required">
                        La contraseña es obligatoria
                    </div>
                    <div  *ngIf="!myForm.get('password2').errors.required && myForm.get('password2').errors.matchPassword">
                        La contraseña no coincide
                    </div>
                </div>
            </div>
            <div class="form-group">
              <!-- <label for="ubicacion2">Ubicación</label> -->
              <select id="location" class="form-control" formControlName="location" [ngClass]="{ 'is-invalid': (myForm.get('location').dirty || myForm.get('location').touched) && !myForm.get('location').valid}">
                <!-- <option value="" selected hidden>Selecciona una ubicación...</option> -->
                <ng-container *ngFor="let ubicacion of arrUbicacion">
                  <option [value]="ubicacion">{{ubicacion}}</option>
                </ng-container>
              </select>
              <div *ngIf="!myForm.get('location').valid" class="invalid-feedback">
                La ubicación es obligatoria
              </div>
            </div>
            <button type="submit" class="button_submit absolute" (click)="register()">Register</button>
          </form>
        </section>
      </div>
      <div>
        <img src="../../../assets/imgRegister/man-playing-with-confetti-party 1.png" alt="" class="foto">
      </div>
    </div>
    
