

    <div class="padreSupremo">
      
      <img src="../../../assets/imgRegister/fondo para chico.png" alt="" class="foto2">
      <div class="padre2">
        <a routerLink="/landing-page"> 
          <img class="boton" src="../../../assets/botones/atras.png" alt="">
        </a>
        <div class="padre">
          
          <h1 class="hijo">GalaGo</h1>
        </div>
        <section class="section_form">
          <form [formGroup]="myForm" class="myForm">
            <!-- <div class="form-group">
             
              <input type="url" name="photo" placeholder="Foto" class="form-control" [(ngModel)]="user.photo" #photoId="ngModel" [ngClass]="{ 'is-invalid': (photoId.dirty || photoId.touched) && photoId.invalid}" required>
              <div *ngIf="(photoId.dirty || photoId.touched) && photoId.invalid" class="invalid-feedback">
                  <div *ngIf="photoId.errors.required" class="email">La foto url es obligatoria</div>
              </div>
          </div>
            <div class="form-group">
             
              <input type="text" name="name" placeholder="Nombre" class="form-control" [(ngModel)]="user.name" #nameId="ngModel" [ngClass]="{ 'is-invalid': (nameId.dirty || nameId.touched) && nameId.invalid}" required>
              <div *ngIf="(nameId.dirty || nameId.touched) && nameId.invalid" class="invalid-feedback">
                  <div *ngIf="nameId.errors.required" class="email">El nombre es obligatorio</div>
              </div>
          </div>
            
            <div class="form-group">
             
              <input type="text" name="last_name" placeholder="Apellidos" class="form-control" [(ngModel)]="user.last_name" #last_nameId="ngModel" [ngClass]="{ 'is-invalid': (last_nameId.dirty || last_nameId.touched) && last_nameId.invalid}" required>
              <div *ngIf="(last_nameId.dirty || last_nameId.touched) && last_nameId.invalid" class="invalid-feedback">
                  <div *ngIf="last_nameId.errors.required" class="email">El apellido es obligatorio</div>
              </div>
          </div>
        
          <div class="form-group">
             
            <input type="email" name="email" placeholder="E-mail" class="form-control" [(ngModel)]="user.email" #emailId="ngModel" [ngClass]="{ 'is-invalid': (emailId.dirty || emailId.touched) && emailId.invalid}" email required>
            <div *ngIf="(emailId.dirty || emailId.touched) && emailId.invalid" class="invalid-feedback">
                <div *ngIf="emailId.errors.required" class="email">El email es obligatorio</div>
                <div *ngIf="emailId.errors.email">El email es incorrecto</div>
            </div>
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Password" class="form-control" [(ngModel)]="user.password" #passwordId="ngModel" [ngClass]="{ 'is-invalid': (passwordId.dirty || passwordId.touched) && passwordId.invalid}" minlength="8" required>
          <div *ngIf="(passwordId.dirty || passwordId.touched) && passwordId.invalid" class="invalid-feedback">
              <div *ngIf="passwordId.errors.required" class="contraseña">La contraseña es obligatoria</div>
              <div *ngIf="passwordId.errors.minlength && !passwordId.errors.required" class="contraseña2">Se requiere tener al menos 8 caracteres</div>
          </div>
      </div>
     
        <div class="form-group">
          <input type="password" name="password" placeholder="Confirm Password" class="form-control" [(ngModel)]="user.confirmPassword" #confirmPasswordId="ngModel" [ngClass]="{ 'is-invalid': (confirmPasswordId.dirty || confirmPasswordId.touched) && confirmPasswordId.invalid}" minlength="8" required>
          <div *ngIf="(confirmPassword.dirty || confirmPassword.touched) && confirmPassword.invalid" class="invalid-feedback">
              <div *ngIf="confirmPassword.errors.required" class="contraseña">La contraseña es obligatoria</div>
              <div *ngIf="confirmPassword.errors.minlength && !confirmPassword.errors.required" class="contraseña2">Se requiere tener al menos 8 caracteres</div>
              <div *ngIf="confirmPassword.errors.minlength && !confirmPassword.errors.required" class="contraseña3">Se requiere tener al menos 8 caracteres</div>
          </div>
      </div>
      -->
       
    

      <div class="form-group">
        <div class="texto"></div>
        <input #photo placeholder="Foto" type="url" class="form-control" formControlName="url" [ngClass]="{ 'is-invalid': (myForm.get('url').dirty || myForm.get('url').touched) && !myForm.get('url').valid}">
        <div *ngIf="!myForm.get('url').valid" class="invalid-feedback">
            La dirreccion url es obligatorio
        </div>
    </div>
      <div class="form-group">
        <div class="texto"></div>
      <input #first_name placeholder="Nombre" type="text" class="form-control" formControlName="nombre" [ngClass]="{ 'is-invalid': (myForm.get('nombre').dirty || myForm.get('nombre').touched) && !myForm.get('nombre').valid}">
              <div *ngIf="!myForm.get('nombre').valid" class="invalid-feedback">
                  El nombre es obligatorio
              </div>
            </div>
            <div class="form-group">
              <div class="texto"></div>
              <input #last_name placeholder="Apellidos" type="text" class="form-control" formControlName="apellido" [ngClass]="{ 'is-invalid': (myForm.get('apellido').dirty || myForm.get('apellido').touched) && !myForm.get('apellido').valid}">
              <div *ngIf="!myForm.get('apellido').valid" class="invalid-feedback">
                  El apellido es obligatorio
              </div>
          </div>
          <div class="form-group">
            <div class="texto"></div>
            <input #email placeholder="E-mail" type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': (myForm.get('email').dirty || myForm.get('email').touched) && !myForm.get('email').valid}">
            <div *ngIf="!myForm.get('email').valid" class="invalid-feedback">
                <div  *ngIf="myForm.get('email').errors.required">
                    La direccion email es obligatoria
                </div>
                <div  *ngIf="myForm.get('email').errors.email">
                    La direccion email es incorrecta
                </div>
            </div>
        </div>
        <div class="form-group">
          <div class="texto"></div>
          <input #password placeholder="Contraseña" type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': (myForm.get('password').dirty || myForm.get('password').touched) && !myForm.get('password').valid}">
          <div *ngIf="!myForm.get('password').valid" class="invalid-feedback">
              <div  *ngIf="myForm.get('password').errors.required">
                  La contraseña es obligatoria
              </div>
              <div  *ngIf="myForm.get('password').errors.minlength">
                  La contraseña es incorrecta
              </div>
          </div>
      </div>
      <div class="form-group">
        <div class="texto"></div>
          <input #confirmPassword placeholder="Repertir Contraseña" type="password" class="form-control" formControlName="password2" [ngClass]="{ 'is-invalid': (myForm.get('password2').dirty || myForm.get('password2').touched) && !myForm.get('password2').valid}">
          <div *ngIf="!myForm.get('password2').valid" class="invalid-feedback">
              <div  *ngIf="myForm.get('password2').errors.required">
                  La contraseña es obligatoria
              </div>
              <div  *ngIf="!myForm.get('password2').errors.required && myForm.get('password2').errors.matchPassword">
                  La contraseña no coincide
              </div>
          </div>
      </div>

      <div class="form-group">
        <select class="form-control" #ubicacion placeholder="ubicacion" (change)="ubicacionInfo(ubicacion.value)">
          <option selected disabled [value]="ubicacionString">{{ubicacionString}}</option>
              <option *ngFor="let provincia of arrUbicacion" [value]="provincia">
                  Provincia: {{provincia}} 
              </option>
        </select>
    </div>
    
      
      <button type="submit" class="button_submit absolute" (click)="register(ubicacion.value, confirmPassword.value, password.value, email.value, last_name.value, first_name.value, photo.value)">Register</button>










    <!-- </form> -->

      <!-- <div class="form-group">
        <select class="form-select" #ubicacion name="ubicacion" [(ngModel)]="prenda.ubicacion" #ubicacionId="ngModel"
        [ngClass]="{ 'is-invalid': (ubicacionId.dirty || ubicacionId.touched) && ubicacionId.invalid }" placeholder="Ubicacion" required>
          <option selected disabled value="">Ubicacion...</option>
          <ng-container *ngFor="let ubicacion of arrUbicacion">
            <option [value]="ubicacion">{{ubicacion}}</option>
          </ng-container>
        </select>
        <div *ngIf="(ubicacionId.dirty || ubicacionId.touched) && ubicacionId.invalid" class="invalid-feedback">
          <p *ngIf="ubicacionId.errors.required">Por favor escoja una ubicacion.</p>
        </div>
      </div> -->
      







      <!-- <div class="form-group">
          <input type="password" name="confirmPassword" placeholder="Confirm Password" class="form-control" [(ngModel)]="user.confirmPassword" #confirmPasswordId="ngModel" [ngClass]="{ 'is-invalid': (confirmPasswordId.dirty || confirmPasswordId.touched) && confirmPasswordId.invalid}" minlength="8" required>
          <div *ngIf="(confirmPasswordId.dirty || confirmPasswordId.touched) && confirmPasswordId.invalid" class="invalid-feedback">
              <div *ngIf="confirmPasswordId.errors.required" class="contraseña">La confirmación de contraseña es obligatoria</div>
              <div *ngIf="confirmPasswordId.errors.minlength" class="contraseña2">Se require tener al menos 8 caracteres</div>
              <div *ngIf="user.password !== user.confirmPassword" class="contraseña2">Las contraseñas no coinciden</div>
          </div>
      </div> -->
                <!-- <div class="form-group">
                  <input type="number" #precio class="form-control"  name="precio" [(ngModel)]="prenda.precio" #precioId="ngModel"
                  [ngClass]="{ 'is-invalid': (precioId.dirty || precioId.touched) && precioId.invalid }" placeholder="Precio" required>
                  <div *ngIf="(precioId.dirty || precioId.touched) && precioId.invalid" class="invalid-feedback">
                    <p *ngIf="precioId.errors.required">Por favor introduzca un precio.</p>
                  </div>
                </div>
        
                <div class="form-group">
                  <input type="text" #descripcion class="form-control"  name="descripcion" [(ngModel)]="prenda.descripcion" #descripcionId="ngModel"
                  [ngClass]="{ 'is-invalid': (descripcionId.dirty || descripcionId.touched) && descripcionId.invalid }" placeholder="Descripcion" required>
                  <div *ngIf="(descripcionId.dirty || descripcionId.touched) && descripcionId.invalid" class="invalid-feedback">
                    <p *ngIf="descripcionId.errors.required">Por favor introduzca una descripcion.</p>
                  </div>
                </div>
        
                <div class="form-group">
                    <select class="form-control" #tipo name="tipo" [(ngModel)]="prenda.tipo" #tipoId="ngModel"
                    [ngClass]="{ 'is-invalid': (tipoId.dirty || tipoId.touched) && tipoId.invalid }" placeholder="Tipo" required>
                      <option selected disabled value="">Tipo...</option>
                      <ng-container *ngFor="let tipo of arrTipo">
                        <option [value]="tipo">{{tipo}}</option>
                      </ng-container>
                    </select>
                    <div *ngIf="(tipoId.dirty || tipoId.touched) && tipoId.invalid" class="invalid-feedback">
                      <p *ngIf="tipoId.errors.required">Por favor escoja un tipo.</p>
                    </div>
                  </div>
                  
                  
        
                <div class="form-group">
                  <select class="form-control" #talla name="talla" [(ngModel)]="prenda.talla" #tallaId="ngModel"
                  [ngClass]="{ 'is-invalid': (tallaId.dirty || tallaId.touched) && tallaId.invalid }" placeholder="Talla" required>
                    <option selected disabled value="">Talla...</option>
                    <ng-container *ngFor="let talla of arrTalla">
                      <option [value]="talla">{{talla}}</option>
                    </ng-container>
                  </select>
                  <div *ngIf="(tallaId.dirty || tallaId.touched) && tallaId.invalid" class="invalid-feedback">
                    <p *ngIf="tallaId.errors.required">Por favor escoja una talla.</p>
                  </div>
                </div>
        
                <div class="form-group">
                    <select class="form-select" #evento name="evento" [(ngModel)]="prenda.evento" #eventoId="ngModel"
                    [ngClass]="{ 'is-invalid': (eventoId.dirty || eventoId.touched) && eventoId.invalid }" placeholder="Evento" required>
                      <option selected disabled value="">Evento...</option>
                      <ng-container *ngFor="let evento of arrEvento">
                        <option [value]="evento">{{evento}}</option>
                      </ng-container>
                    </select>
                    <div *ngIf="(eventoId.dirty || eventoId.touched) && eventoId.invalid" class="invalid-feedback">
                      <p *ngIf="eventoId.errors.required">Por favor escoja un evento.</p>
                    </div>
                  </div>
        
                  <div class="form-group">
                    <select class="form-control" #estado name="estado" [(ngModel)]="prenda.estado" #estadoId="ngModel"
                    [ngClass]="{ 'is-invalid': (estadoId.dirty || estadoId.touched) && estadoId.invalid }" placeholder="Estado" required>
                      <option selected disabled value="">Estado...</option>
                      <ng-container *ngFor="let estado of arrEstado">
                        <option [value]="estado">{{estado}}</option>
                      </ng-container>
                    </select>
                    <div *ngIf="(estadoId.dirty || estadoId.touched) && estadoId.invalid" class="invalid-feedback">
                      <p *ngIf="estadoId.errors.required">Por favor escoja un estado.</p>
                    </div>
                  </div>
        
                  <div class="form-group">
                    <select class="form-control" #ubicacion name="ubicacion" [(ngModel)]="prenda.ubicacion" #ubicacionId="ngModel"
                    [ngClass]="{ 'is-invalid': (ubicacionId.dirty || ubicacionId.touched) && ubicacionId.invalid }" placeholder="Ubicacion" required>
                      <option selected disabled value="">Ubicacion...</option>
                      <ng-container *ngFor="let ubicacion of arrUbicacion">
                        <option [value]="ubicacion">{{ubicacion}}</option>
                      </ng-container>
                    </select>
                    <div *ngIf="(ubicacionId.dirty || ubicacionId.touched) && ubicacionId.invalid" class="invalid-feedback">
                      <p *ngIf="ubicacionId.errors.required">Por favor escoja una ubicacion.</p>
                    </div>
                  </div> -->




                  
        </form>
        </section>
      </div>
      <div>
        <img src="../../../assets/imgRegister/man-playing-with-confetti-party 1.png" alt="" class="foto">
      </div>
    </div>
    

    











    